<% @assignments = Assignment.where(course_id: params[:course_id]) %>
<div class="list-group">
  <% @assignments.each do |assignment| %>
    <%= link_to assignment.title, course_assignment_path(course_id: params[:course_id], id: assignment.id), class: 'list-group-item' %>
  <% end %>
</div>
<% if current_user.creator_of_course?(params[:course_id]) -%>
  <%= link_to t(:create_assignment), new_course_assignment_path(course_id: params[:course_id]), class: 'btn btn-primary btn-block' %>
<% end -%>