          <% @nodes.each do |node| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-fw fa-lg fa-comments-o"></i>
                  <%= link_to node.name, node_path(id: node.id) %>
                  <%= link_to fa_icon('plus'), new_node_path(current_course: params[:id], current_father: node.id), class: 'btn btn-sm btn-default pull-right' %>
              </div>
              <% if node.child_count > 0 %>
                <ul class="list-group">
                  <% node.children.each do |sub| %>
                    <li class="list-group-item"><%= link_to sub.name, node_path(id: sub.id) %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>