<!-- ensure: @nodes, @course -->
<% @nodes.each do |node| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-fw fa-lg fa-comments-o"></i>
        <%= link_to node.name, course_node_path(course_id: @course.id, id: node.id), remote: true %>
        <%= link_to fa_icon('plus'), new_course_node_path(@course, father_id: node.id), class: 'btn btn-sm btn-default pull-right', remote: true %>
    </div>
    <% unless node.children.empty? %>
      <ul class="list-group">
        <% node.children.each do |sub| %>
          <li class="list-group-item">
            <%= link_to sub.name, course_node_path(course_id: @course.id, id: sub.id), remote: true %>
            <%= link_to fa_icon('trash'), course_node_path(course_id: @course.id, id: sub.id), method: 'delete', class: 'pull-right', remote: true, data: {confirm: t(:confirm_delete)} %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end if @nodes %>