<h2><%= @topic.title %></h2>
<hr>
<div><%= @topic.body.html_safe %></div>
<div id="replies">
  <% @topic.replies.each do |r| %>
    <%= render partial: 'replies/reply.html.erb', locals: {r: r} %>
  <% end %>
</div>

<div>
  <%= render partial: 'replies/quick.html.erb' %>
</div>