<h2><%= @topic.title %></h2>
<hr>
<div><%= @topic.body.html_safe %></div>
<div>
  <% @topic.replies.each do |r| %>
    <%= render r %>
  <% end %>
</div>

<div>
  <textarea name="quick_reply" id="quick_reply" data-course-id=<%= params[:course_id]  %> ></textarea>
</div>