<div class="forum-sidebar-header btn-group btn-breadcrumb">
  <%= render partial: 'nodes/nav.html.erb'  %>
</div>
<div id="forum-sidebar-content" class="forum-sidebar-content">
  <%= render partial: 'topics/index.html.erb' %>
</div>
<div class="forum-sidebar-footer">
  <div class="btn-group btn-group-justified">
    <% if current_user && current_user.creator_of_course?(params[:course_id]) %>
      <%= link_to '新建分区', new_course_node_path(course_id: params[:course_id], father_id: -1), class: 'btn btn-default', remote: true %>
    <% end %>
    <%= link_to '发布新帖', new_course_topic_path(node_id: params[:id]), class: 'btn btn-default', remote: true %>
  </div>
</div>
