<% now = Time.now.to_i %>
<% sub = now - dest.created_at.to_i %>
<% day = sub / 86400 %>
<% sub = sub % 86400 %>
<% hour = sub / 3600 %>
<% sub = sub % 3600 %>
<% min = sub / 60 %>
<% sub = sub % 60 %>
<span class="fa fa-fw fa-clock-o"></span>
<% unless day == 0 %>
  <%= day.to_s + "天前" %>
<% else %>
  <% unless hour == 0 %>
    <%= hour.to_s + "小时前" %>
  <% else %>
    <% unless min == 0 %>
      <%= min.to_s + "分前" %>
    <% else %>
      <%= sub.to_s + "秒前" %>
    <% end %>
  <% end %>
<% end %>
