body {
	background-image: url('/images/bg.png');
}

#header {
	height: 360px;
	/* background-color: blue; */
	background-image: url('/images/banner.jpg');
	box-shadow: inset 0 -2px 8px rgba(0,0,0,0.1);
}

.container {
	width: 1024px;
	margin: auto;
	/* background-color: white; */
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

#box-left {
	margin-left: 80px;
	margin-top: 70px;
}

h1.logo {
	line-height: 150%;
	font-size: 80px;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

h2.item-title {
	text-align: center;
}

hr {
	border-bottom: 2px solid #049cdb;
	clear: both;
}

span.slogan {
	color: white;
	font-size: 30px;
	text-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

#box-right {
	width: 250px;
	margin-top:  70px;
	margin-right: 150px;
}

.light-text-shadow {
	text-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

.white-text {
	color: white;
}

.fit-box {
	width: 100%;
}

input {
	margin-top: 15px;
}

a.btn {
	margin-top: 15px;
	margin-bottom: 15px;
}

button[type="submit"] {
	margin-top: 15px;
	margin-bottom: 15px;
}

.col {
	float: left;
	padding: 20px;
	width: 290px;
	height: 480px;
}

#col1 {
	margin-left: 16px;
	/* background-color: blue; */
}

#col2 {
	/* background-color: yellow; */ 
}

#col3 {
	/* background-color: gray; */
}

#footer {
	clear: both;
}

.item {
	width: 200px;
	height: 200px;
	background-color: green;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#signup {
	display: none;
}

a.active-a {
	cursor: pointer;
	cursor: hand;
	margin-right: 0px;
	transition: .2s all ease-in-out;
}

a.action-a:hover {
	cursor: pointer;
	cursor: hand;
	color: white;
	text-decoration: none;
	margin-right: -5px;
	transition: .2s all ease-in-out;
}