<% if activity.trackable.course_id == @course.id %>
  <div class="qa-message-list" id="wallmessages">
    <div class="message-item" id="m16">
      <div class="message-inner">
        <div class="message-head clearfix">
          <div class="user-detail">
            <h5 class="handle">
              <%= link_to activity.owner.username, activity.owner if activity.owner %>
              新建了一个分数项
              <%= link_to activity.trackable.name, course_items_path(course_id: activity.trackable.course_id) %>
            </h5>
          </div>
        </div>
        <div class="qa-message-content">
          <%= render partial: 'public_activity/time.html.erb', locals: {dest: activity} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
