    <div id="user-info">
      <img src="https://avatars1.githubusercontent.com/u/895809?v=2&s=460" width="220px" height="220px" alt="">
      <% unless current_user.realname.blank? %>
        <h2><%= current_user.realname %></h2>
      <% end %>
      <h3><%= current_user.username %></h3>
    </div>
    <div id="action-bar">
      <div class="list-group">
        <a href="#" class="list-group-item active"><i class="fa fa-fw fa-lg fa-home"></i> 控制中心</a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-lg fa-book"></i> 课程管理</a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-lg fa-database"></i> 文件管理</a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-lg fa-cogs"></i> 账号设置</a>
      </div>
    </div>