
    <div id="action-bar">
      <div class="list-group">
        <a href="#" class="list-group-item active"><i class="fa fa-fw fa-lg fa-home"></i> <%= t :dashboard %></a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-lg fa-book"></i> <%= t :course_management %></a>
        <%= link_to fa_icon("database", text: t(:file_management), class: 'fa-fw fa-lg'), '/folders', class: "list-group-item" %>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-lg fa-cogs"></i> <%= t :account_setting %></a>
      </div>
    </div>
