<div class="row">
  <div class="col-md-3">
    <div id="user-info">
      <img src="https://avatars1.githubusercontent.com/u/895809?v=2&s=460" width="220px" height="220px" alt="">
      <h2>邓雄飞</h2>
      <h3>@deathking</h3>
    </div>
    <div id="action-bar">
      <div class="list-group">
        <a href="#" class="list-group-item active"><i class="fa fa-fw fa-home"></i> 控制中心</a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-book"></i> 课程管理</a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-database"></i> 文件管理</a>
        <a href="#" class="list-group-item"><i class="fa fa-fw fa-cogs"></i> 账号设置</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="jumbotron">
      <h3>一个作业即将到期</h1>
      <p>《操作系统》 实验三 进程的跟踪 还有</p>
      <p><a class="btn btn-primary btn-lg">查看详情</a></p>
    </div>
  </div>
</div>  
