<div class="row">
  <div class="col-md-3">
    <%= render partial: 'info.html.erb' %>
  </div>
  <div class="col-md-9">
    <div class="jumbotron">
      <h3>一个作业即将到期</h1>
      <p>《操作系统》 实验三 进程的跟踪 还有</p>
      <p><a class="btn btn-primary btn-lg">查看详情</a></p>
    </div>
  </div>
</div>  
