<div class="row">
  <div class="col-md-3">
    <%= render partial: 'info.html.erb' %>
  </div>
  <div class="col-md-9">
    <%= yield %>
    
    <div class="jumbotron">
      <h3><%= t :assignment_due %></h1>
      <p>《操作系统》 实验三 进程的跟踪 还有</p>
      <p><a class="btn btn-primary btn-lg"><%= t :view_details %></a></p>
    </div>
  </div>
</div>
