<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">乐学网</a>
        </div>
        <ul class="nav navbar-nav"><li><a href="/courses">所有课程</a></li></ul>

        <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="message"><i class="fa fa-lightbulb-o fa-lg"></i></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="">消息已经处理完毕</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><%= current_user.username %><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="/courses/new" style="color:red">开设课程</a></li>
                <li><a href="/dashboard">控制中心</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="/logout" data-method="delete">退出</a></li>
              </ul>
            </li>
          </ul>
        <% end %>
        </div>
      </div>
    </div>