<% if activity.trackable.course_id == @course.id %>
  <div class="qa-message-list" id="wallmessages">
    <div class="message-item" id="m16">
      <div class="message-inner">
        <div class="message-head clearfix">
          <div class="user-detail">
            <h5 class="handle">
              <%= link_to activity.owner.realname, profile_path(activity.owner.username) if activity.owner %>
              <% if activity.owner.creator_of_course?(activity.trackable.course_id) %>
                <%= t :created_course %>
              <% else %>
                <%= t :joined_course %>
              <% end %>
            </h5>
          </div>
        </div>
        <div class="qa-message-content">
          <%= render partial: 'public_activity/time.html.erb', locals: {dest: activity} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
