<div><h3 class="text-center no-margin"><%= t :staff %></h3></div>
<div>
<a href="" class="circle">
  <%= image_tag @course.creator.avatar, width: 120, height: 120, class: 'img-responsive center-block' %>
</a>
</div>
<div>
  <h3 class="text-center"><%= link_to @course.creator.realname, @course.creator.username %></h3>
</div>