<div><h3 class="text-center no-margin">教职人员</h3></div>
<div>
<a href="" class="circle">
  <%= image_tag 'https://avatars1.githubusercontent.com/u/895809?v=2&s=460', width: 120, height: 120, class: 'img-responsive center-block' %>
</a>
</div>
<div>
  <h3 class="text-center"><%= @course.creator.username %></h3>
</div>