<div class="row">

  <div class="col-md-3">
    <div class="panel-group" id="mainlist">

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#mainlist" href="#collapseOne">
              <span class="glyphicon glyphicon-th-large"></span>总览
            </a>
          </p>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
          <table class="table">
            <tr><td><span class="glyphicon glyphicon-book"></span><a href="#">课程信息</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-pencil"></span><a href="#">作业管理</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-list-alt"></span><a href="#">统计信息</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-off"></span><a href="#">登出</a></td></tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">
            <a data-toggle="collapse" data-parent="#mainlist" href="#collapseTwo">
              <span class="glyphicon glyphicon-th-large"></span>成绩管理
            </a>
          </p>
        </div>
        <div class="panel-collapse collapse in" id="collapseTwo">
          <table class="table">
            <tr><td><span class="glyphicon glyphicon-tasks"></span><a href="#">设置标准</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-tower"></span><a href="#">评分</a></td></tr>
            <tr><td><span class="glyphicon glyphicon-list"></span><a href="#">查看报表</a></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
          <%= active_link_to fa_icon('home', text: ' 课程信息', class: 'fa-fw fa-lg'), home_course_path(@course), wrap_tag: :li %>

          <hr>

          <% if current_user.id == @course.creator.id %>
            <li><a href=<%= course_path(@course) %> class="btn btn-danger" data-method="delete" data-confirm='你真的打算删除此门课程？'><i class="fa fa-fw fa-times"></i> 删除课程</a></li>
          <% else %>
            <li><a href=<%= leave_course_path(@course) %> class="btn btn-danger" data-method="delete" data-confirm='你真的打算退出此门课程？'><i class="fa fa-fw fa-times"></i> 退出选课</a></li>
          <% end %>

      </ul>

    </div> -->
  <div class="col-md-8 well bs-component">
    <%= render partial: 'form.html.erb' %>
  </div>
</div>

