<div class="row">
  <div class="col-md-3">
    <%= render partial: 'users/info.html.erb' %>
  </div>
  <div class="col-md-9">
    <div class="well bs-component">
      <%= render partial: 'form.html.erb' %>
    </div>
  </div>
</div>