<div class="row">
  
  <% @courses.each_with_index do |c, i| %>
      <div class="well bs-component">
      <div><%= link_to c.full_name, c %></div>
      <div><%= c.english_name %></div>
      </div>
  <% end %>

</div>