<div class="row">
  <div id="course-info">
    <%= render partial: 'header.html.erb' %>
  </div>
  <div id="teacher-info">
    <img src="https://cms.hit.edu.cn/pluginfile.php/3392/user/icon/anomaly/f1" width="220px" height="220px" alt="">
    <h2><%= @course.user.username %></h2>
  </div>
</div>  
