/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require summernote
 *= require bootstrap-select
 *= require breadcrumbs
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";

.box {
	border: solid 1px;
}

.no-margin {
	margin: 0px;
}

.scroll-as-overflow {
	overflow: scroll;
}

.unread-message {
	background-color: red;
}

.tight-margin {
	margin-top: 3px;
	margin-bottom: 3px;
}

.search {float:right;}
body { padding: 0px; margin: 0px; background-color: rgb(225,225,225); }
body, input { font-family: Arial; font-size: 13pt; }
input { padding: 3px; border: 1px solid rgb(210,210,210); }
input[type='file'] { border: 0; }
textarea { border: 1px solid rgb(210,210,210); width: 700px; padding: 10px; font-family: Arial; font-size: 10pt; }
img { border: 0; }
h1 { font-size: 20pt; text-transform: uppercase; }
h3 { font-size: 13pt; margin-bottom: 0; }
a { color: #BA303A; text-decoration: none; }
a:hover { text-decoration: underline; }

#progress p span.status { margin-left: 3px; }
#progress p img { vertical-align: middle; margin-bottom: 4px; }

.menu { margin: 0; padding: 10px 15px 7px 15px; color: #FFF; }
.menu a, .footer a { color: #FFF; }
.table_header td { font-weight: bold; }
.even td, .odd td, th { padding: 12px 7px 7px 7px; }
.even { background-color: #EEE; }
.odd { background-color: #FFF; }
.text_input { width: 280px; }
.user_welcome { float: right; margin-right: 15px; }
.user_welcome a { color: #FFF; text-decoration: underline; }
.user_groups { margin-right: 200px; display: block; }
.user_groups label { margin-right: 15px; }
.user_name, .user_expiration { min-width: 180px; }
.user_email { min-width: 370px; }
.group_name, .clipboard_item { min-width: 483px; }
.disabled { color: #999; }
.permission_column { width: 75px; text-align: center; }
.permissions_button, .back { display: inline-block; margin-top: 15px; }
.clipboard_empty { margin-top: 35px; }
.clipboard_info_image { float: left; margin: 3px 15px 15px 0; }
.button_to, .button_to div { display: inline; }
.emails_to_share_with { height: 39px; width: 755px; }
.share_message { height: 80px; width: 755px; }
.shared_file { display: inline-block; min-width: 400px; padding: 15px; background-color: #EEE; }
.shared_file img { margin-right: 8px; }
.share_link_emails { font-size: 11pt; }
.comma_seperated, .optional { position: relative; top: -1px; left: 3px; font-size: 10pt; }
.char_counter { float: right; margin: 5px 75px 0 0; font-size: 10pt; }
.translation .missing, .red { color: #F00; }

.error, .notice { position: absolute; top: 0; left: 0; width: 100%; text-align: center; }
.error { background-color: rgba(255,0,0,0.8); }
.notice { background-color: rgba(0,165,0,0.7); }

.error p, .notice p { display: inline-block; font-size: 16pt; color: #FFF; margin: 0; padding: 10px 0 10px 45px; background-repeat: no-repeat; background-position: 0 5px; }
.error p { background-image: url(exclamation.png); }
.notice p { background-image: url(information.png); }

span.field_with_errors input, span.field_with_errors textarea { background-color: #FDD; }
#errorExplanation { width: 500px; border: 2px solid #c00; padding: 7px 7px 15px 7px; margin: 10px 0 10px 0; background-color: #f0f0f0; }
#errorExplanation p { padding-left: 8px; }
#errorExplanation h2 { text-align: left; font-size: 14pt; font-weight: bold; padding: 5px 5px 5px 15px; margin: -7px; margin-bottom: 7px; background-color: #c00; color: #fff; }
#errorExplanation ul { margin: 0; }
#errorExplanation ul li { list-style: square; }

.folder_menu, .user_menu, .group_menu { padding: 7px 14px 7px 14px; }
.folder_menu a, .user_menu a, .group_menu a { outline: none; }

.submit_to_link
{
    background:none;
    border:none; 
    padding:0;
    cursor: pointer;
}

