// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-single-name {
	font-size: 48px;
}

.course-full-name, .course-english-name {
	margin-top: 0px;
}

.forum-contenr, .forum-sidebar {
	height: 500px;
}